.table>thead>tr>th {
	background-color: #FCD059;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #A2D7D8;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
	background-color: #BFE1BF;
}

/*
input {
	width: 100px;
}
*/
